<div
  class="flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl p-4 md:p-5"
>
  <h3 class="text-lg font-bold text-gray-800">{{ train?.name }}</h3>
  <p class="mt-1 text-xs font-medium uppercase text-gray-500">
    {{ train?.uniqueNumber }}
  </p>

  <!-- Input Number -->

  <div class="my-4 max-w-sm">
    <label for="quantity" class="block text-sm font-medium text-gray-700 mb-2"
      >Quantity</label
    >
    <div
      class="mb-4 py-2 px-3 bg-white border rounded-lg"
      [class.border-red-500]="
        quantity.invalid && (quantity.dirty || quantity.touched)
      "
    >
      <div class="w-full flex justify-between items-center gap-x-3">
        <div class="relative w-full">
          <input
            [formControl]="quantity"
            id="quantity"
            class="w-full p-0 pe-7 bg-transparent border-0 text-gray-800 focus:ring-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
            type="number"
            aria-roledescription="Number field"
            data-hs-input-number-input=""
          />
        </div>
      </div>
    </div>

    <p
      *ngIf="
        quantity.invalid &&
        (quantity.dirty || quantity.touched) &&
        quantity.errors
      "
      class="text-sm text-red-600"
    >
      Quantity must always be positive integer
    </p>
  </div>
  <!-- End Input Number -->

  <div class="max-w-sm mt-4">
    <button
      type="button"
      class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none"
      [disabled]="quantity.invalid"
      (click)="updateQuantity()"
    >
      Update Quantity
    </button>
  </div>
</div>
