<div class="fixed top-4 right-4 z-50 space-y-3">
  <div
    *ngFor="let toast of toasts()"
    class="bg-gray-50 border flex justify-between max-w-sm min-w-[250px] px-4 py-3 rounded rounded-xl text-gray-700 text-sm"
    [ngClass]="{
      'border-green-500 text-gray-700': toast.type === toastType.Success,
      'border-red-500 text-gray-700': toast.type === toastType.Error,
      'border-amber-500 text-gray-700': toast.type === toastType.Info,
      'border-orange-500 text-gray-700': toast.type === toastType.Warning
    }"
  >
    <span>{{ toast.message }}</span>
    <button (click)="hide(toast.id)" class="ml-4 font-bold">&times;</button>
  </div>
</div>
